.list-group-item {
  color: white;
}

.bgreen {
  background-color: green;
}

.byellow {
  background-color: #ffc107;
}

.bred {
  background-color: red;
}

.twhite {
  color: white;
}

/*.form-select > *:hover {
  background-color: pink !important;
}*/